name: Tests → Build Docker → Deploy

on:
  push:
    branches: ["main"]

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run tests
        run: pytest -q

  deploy:
    needs: tests              # ← запускается ТОЛЬКО если тесты прошли
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Build Docker image
        run: docker build -t myapp:latest .

      - name: Save Docker image to tar
        run: docker save myapp:latest -o myapp.tar

      - name: Fix permissions
        run: sudo chmod 644 myapp.tar

      - name: Copy image to server
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}
          port: ${{ secrets.PORT }}
          source: "myapp.tar"
          target: "~/deploy"

      - name: Deploy on server via SSH
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}
          port: ${{ secrets.PORT }}
          script: |
            mkdir -p ~/deploy
            cd ~/deploy

            echo "Loading Docker image..."
            docker load -i myapp.tar

            echo "Stopping old container..."
            docker rm -f myapp || true

            echo "Starting new container..."
            docker run -d --name myapp -p 80:80 myapp:latest

            echo "Deployment finished."
